 *{
    border: 1px solid black;
}

.logo {
    height: 125px;
    width: 200x;
}

.picture {
    width: 200px;
    height: 200px;
    border-radius: 10%;
}

.img-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.main-picture {
    width: 100%;
    height: 500px;
    margin-top: -190px;
}

.main-img-wrapper {
    height: 200px;
    width: 400px;
    overflow: hidden;
    border-radius: 10px;
}

.intro-wrap {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

.signature {
    text-align: right;
    
}